@(message: String)

@import helper._
@import helper.twitterBootstrap._

@main("The Dining Philosophers") {

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Dining Philosophers</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->        
      </div>

   <div ng-controller="ChatCtrl" class="container-fluid">    
    <form ng-submit="startSim()">
      <input class="btn-primary" type="submit" value="Simulate">
    </form>
    <form ng-submit="stopSim()">
      <input class="btn-primary" type="submit" value="Stop">
    </form>
        <form ng-submit="getMessages()">
      <input class="btn-primary" type="submit" value="Get Messages">
    </form>

    <h1>@message</h1>
      <ul>
        <li ng-repeat="message in messages">{{message.text}}</li>
      </ul>
  </div> <!-- /container -->

}